doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Template Demo
        meta(name='description', content='A front end test')
        meta(name='author', content='Don Le, Sutrix')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
        link(rel='stylesheet', href='css/style.css?v=1.0')
        //if lt IE 9
            script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js')
    body.page-home
        header

        footer
        //script(src='./js/plugins/jquery-3.2.0.min.js')
        //script(src='./js/plugins/jquery-don-slider/dist/jquery.donslider.js')
        //script(src='./js/main.js?v=05042017')