block content
    .heading-title(ng-show='!user') Vui lòng đăng nhập
    .page-post-ticket(ng-show='user')
        .container.no-padding
            .heading-title Đăng vé nhượng
            hr
            .widget.ticket-filling-box
                .widget-header
                    .title Thông tin vé
                .widget-content.padding
                    form.ticket-form.row#ticketForm
                        .col-sm-6
                            .form-group
                                label Nơi đi
                                select.form-control.select2-locations#from(name='from')
                            .form-group
                                label Nơi đến
                                select.form-control.select2-locations#to(name='to')
                            .form-group
                                label Tên hành khách
                                input.form-control(name='passenger', placeholder="Nhập họ và tên")
                            .form-group
                                label Ngày đi
                                input#beginDate.form-control(name='begin_date', placeholder="Chọn ngày giờ")
                            .form-group.ctrl-description
                                label Mô tả
                                    br
                                    span (Tuỳ chọn)
                                textarea.form-control(name='description', placeholder="Nhập mô tả...")
                        .col-sm-6
                            .form-group
                                label Loại vé
                                select.form-control(name='transporter')
                                    option(value="Máy bay") Máy bay
                                    option(value="Tàu hỏa") Tàu hỏa
                                    option(value="Xe khách") Xe khách
                                    option(value="Xe khách") Tàu thủy
                            .form-group
                                label Hãng vé
                                select.form-control#carrier(name='carrier')
                            .form-group
                                label Đặc biệt
                                    br
                                    span (Tuỳ chọn)
                                input.form-control(name='tags', placeholder="Thông tin nổi bật")
                            .form-group
                                label Giá (VND)
                                input.form-control(name='price', value=0, type="number")
                            .form-group.ctrl-image
                                label Hình ảnh
                                a.img-container.form-control(href='', onclick="document.getElementById('image').click();", ng-if="!previewImage" ) Chọn hình ảnh
                                a.img-container(href='', onclick="document.getElementById('image').click();", ng-if="previewImage" )
                                    img.previewImage(ng-src="{{previewImage}}")
                                input.hidden.form-control(type='file', name='image', id='image')
                            .form-group
                                .p-left
                                .p-right
                                    a.button.btn-primary.hover-green(href='javascript:void(0);' onclick='$(this).parents("form").submit();') Đăng vé