
<!--Created by Don Le on 5/10/2017.
--><!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Nhuongve.vn</title>
    <meta name="description" content="A front end test">
    <meta name="author" content="Don Le, Sutrix">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="css/style.css?v=1.0">
    <!--if lt IE 9script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js')
    -->
  </head>
  <body class="page-search" ng-class="page" ng-app="myApp" ng-controller="RootController">
    <header class="fixed">
      <div class="container"><a class="site-logo" href="/" title="Trang chủ"><img class="v-middle" src="/img/logo.png"></a>
        <div class="user"><img class="user-icon" src="/img/user.png"></div>
        <ul class="navigation">
          <li><a class="active" href="/search.html">Tìm vé</a></li>
          <li><a href="/post-ticket.html">Đăng vé</a></li>
          <li><a href="#">Liên hệ</a></li>
          <li><a href="#">Trợ giúp</a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </header>
    <div class="page-content" ui-view>
      <div class="top-bg-wrapper">
        <div class="container">
          <div class="search-box">
            <div class="input-group">
              <div class="addon-icon"><img src="/img/ic-location.png"></div>
              <input class="form-control" placeholder="Nhập điểm đi">
            </div>
            <div class="input-group">
              <div class="addon-icon"><img src="/img/ic-location.png"></div>
              <input class="form-control" placeholder="Nhập điểm đến">
            </div>
            <div class="input-group">
              <div class="addon-icon"><img src="/img/ic-calendar.png"></div>
              <input class="form-control" placeholder="Chọn ngày">
            </div>
            <div class="button btn-green">Tìm kiếm</div>
          </div>
        </div>
      </div>
      <div class="container no-padding">
        <div class="result-section">
          <div class="result-overview">
            <div class="number-of-result">Tìm thấy <strong>125</strong> kết quả</div><a class="btn-filter hover-op" href="javascript:void(0)"><i class="fa fa-filter"></i>Bộ lọc</a>
            <div class="clearfix"></div>
          </div>
          <div class="filter-box">
            <div class="filter-group">
              <div class="filter-label">Loại vé</div>
              <div class="radio">
                <label>
                  <input type="radio" name="ticketType" checked>Tất cả
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="ticketType">Máy bay
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="ticketType">Tàu hoả
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="ticketType">Xe khách
                </label>
              </div>
            </div>
            <div class="filter-group">
              <div class="filter-label">Giờ đi</div>
              <div class="radio">
                <label>
                  <input type="radio" name="ticketType" checked>Tất cả
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="ticketType">Sáng
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="ticketType">Chiều
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="ticketType">Tối
                </label>
              </div>
            </div>
            <div class="filter-group horizontal-form">
              <div class="filter-label">Giá</div>
              <div class="form-group">
                <label>Tối thiểu</label>
                <input type="number" min="0">
              </div>
              <div class="form-group">
                <label>Tối đa</label>
                <input type="number" min="0">
              </div>
            </div><a class="btn btn-default" href="javascript:void(0);">Mặc định</a>
          </div>
          <table class="ticket-table">
            <thead>
              <tr>
                <th>STT</th>
                <th class="col-location">Nơi đi</th>
                <th class="col-location">Nơi đến</th>
                <th class="col-date">Ngày đi</th>
                <th class="col-ticket-type">Loại vé</th>
                <th class="col-special">Đặc biệt</th>
                <th class="col-price">Giá</th>
                <th>Hành động</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Quảng Trị</td>
                <td>Hồ Chí Minh</td>
                <td>4:00 <br/>06.05.2017</td>
                <td>Máy bay <br/> VietJet</td>
                <td>Ghế xịn, Boeing 707</td>
                <td>500.000</td>
                <td><a class="button btn-small btn-primary" href="#">Đặt nhanh</a></td>
              </tr>
              <tr>
                <td>1</td>
                <td>Quảng Trị</td>
                <td>Hồ Chí Minh</td>
                <td>4:00 <br/>06.05.2017</td>
                <td>Máy bay <br/> VietJet</td>
                <td>Ghế xịn, Boeing 707</td>
                <td>500.000</td>
                <td><a class="button btn-small btn-primary" href="#">Đặt nhanh</a></td>
              </tr>
              <tr>
                <td>1</td>
                <td>Quảng Trị</td>
                <td>Hồ Chí Minh</td>
                <td>4:00 <br/>06.05.2017</td>
                <td>Máy bay <br/> VietJet</td>
                <td>Ghế xịn, Boeing 707</td>
                <td>500.000</td>
                <td><a class="button btn-small btn-primary" href="#">Đặt nhanh</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="modal fade popup popup-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="popup-content"><a class="btn-close" href="javascript:void(0)" data-dismiss="modal" aria-hidden="true"></a>
          <div class="popup-title">Đăng nhập</div>
          <hr>
          <form class="login-form">
            <div class="form-group">
              <label>Email:</label>
              <input class="form-control" type="text" name="email">
            </div>
            <div class="form-group">
              <label>Mật khẩu:</label>
              <input class="form-control" type="text" name="password">
            </div><a class="button btn-primary btn-login hover-green" href="javascript:void(0)">Đăng ký</a>
            <div class="text-center"><a class="signup-invite" href="javascript:void(0)"> Bạn đã có tài khoản? <b>Đăng nhập ngay</b></a></div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal fade popup popup-signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="popup-content"><a class="btn-close" href="javascript:void(0)" data-dismiss="modal" aria-hidden="true"></a>
          <div class="popup-title">Đăng ký</div>
          <hr>
          <form class="login-form">
            <div class="form-group">
              <label>Họ và tên:</label>
              <input class="form-control" type="text" name="name">
            </div>
            <div class="form-group">
              <label>Email:</label>
              <input class="form-control" type="text" name="email">
            </div>
            <div class="form-group">
              <label>Mật khẩu:</label>
              <input class="form-control" type="text" name="password">
              <div class="text-right"><a class="link-forget-pass" href="javascript:void(0)">Quên mật khẩu?</a></div>
            </div><a class="button btn-primary btn-login hover-green" href="javascript:void(0)">Đăng nhập</a>
            <div class="text-center"><a class="signup-invite" href="javascript:void(0)"> Chưa có tài khoản? <b>Đăng ký ngay</b></a></div>
          </form>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="site-logo"><img src="/img/logo-white.png"></div>
          </div>
          <div class="col-sm-6">
            <div class="info">Trường Đại học Khoa học tự nhiên, Đại học quốc gia TP. HCM.
              <br/>Đồ án môn khoa học web, thực hiện bởi Eagle eyes.
              <br/>SĐT: +84988717482
              <br/>Email: donleqt@gmail.com
            </div>
          </div>
          <div class="col-sm-2">
            <div class="social"><a href="#"><i class="fa fa-facebook-f"></i></a><a href="#"><i class="fa fa-youtube-play"></i></a></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="./js/plugins/jquery-3.2.0.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/controller/RootController.js"></script>
    <script src="/js/controller/SearchController.js"></script>
    <script src="/js/controller/PostTicketController.js"></script>
  </body>
</html>