a.go-top(href='javascript:void(0)')
    i.fa.fa-angle-up
//.loading-container.full(ng-show="pageLoad")
//    .loading
.modal.fade.popup.popup-login(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .popup-content#loginForm
            a.btn-close(href='javascript:void(0)', data-dismiss="modal" aria-hidden="true")
            .popup-title Đăng nhập
            hr
            h4.form-group.text-center.text-danger(ng-if='loginError') {{loginError}}
            form.login-form#login-form2
                .form-group
                    label Email:
                    input.form-control(type='text', name='email')
                .form-group
                    label Mật khẩu:
                    input.form-control(type='password', name='password')
                    .text-right
                        a.link-forget-pass(href='javascript:void(0)') Quên mật khẩu?
                a.button.btn-primary.btn-login.hover-green(href='javascript:void(0)' onclick="$('#login-form2').submit();") Đăng nhập
                button.hidden(type="submit")
                .text-center
                    a.signup-invite(href='javascript:void(0)')  Chưa có tài khoản? <b>Đăng ký ngay</b>
.modal.fade.popup.popup-signup(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .popup-content
            a.btn-close(href='javascript:void(0)', data-dismiss="modal" aria-hidden="true")
            .popup-title Đăng ký
            hr
            h4.form-group.text-center.text-danger(ng-if='signupError') {{signupError}}
            form.register-form#register-form
                .form-group
                    label Họ và tên:
                    input.form-control(type='text', name='name')
                .form-group
                    label Email:
                    input.form-control(type='text', name='email')
                .form-group
                    label Mật khẩu:
                    input.form-control(type='password', name='password')
                a.button.btn-primary.btn-signup.hover-green(href='javascript:void(0)', onclick="$('#register-form').submit();") Đăng ký
                .text-center
                    a.login-invite(href='javascript:void(0)')  Bạn đã có tài khoản? <b>Đăng nhập ngay</b>
footer
    .container
        .row
            .col-xs-4
                .site-logo
                     img(src='/img/logo-white.png')
            .col-xs-6
                .info Trường Đại học Khoa học tự nhiên, Đại học quốc gia TP. HCM.
                    | <br/>Đồ án môn khoa học web, thực hiện bởi Eagle eyes.
                    | <br/>SĐT: +84988717482
                    | <br/>Email: donleqt@gmail.com
            .col-xs-2
                .social
                    a(href='#')
                        i.fa.fa-facebook-f
                    a(href='#')
                        i.fa.fa-youtube-play


