.search-box {
    padding: 20px 0;
    text-align: center;
    background-color: rgba(255,255,255,0.22);
    border-radius: 3px;

    .btn-search {
        color: #ffffff;
    }
    .input-group {
        width: 240px;
        background: #ffffff;
        display: inline-block;
        vertical-align: bottom;
        position: relative;
        height: 42px;
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
        .addon-icon {
            width: 50px;
            height: 42px;
            position: absolute;
            text-align: center;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 10;
            img {
                position: relative;
                @include transform(translateY(-50%));
                top: 50%;
                width: 20px;
            }
            & + input, & + .form-control {
                padding-right: 50px;
            }
        }
    }
    .input-group-addon {
        border: 0;
        border-radius: 0;
        background: transparent;
    }
    .button {
        padding: 0;
        height: 45px;
        width:150px;
        line-height: 45px;
    }
    select {
        @extend .clean-control;
    }
    input, .form-control {
        border-radius: 0;
        height: 100%;
        font-size: 16px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        display: none;
    }
    .select2-container--default .select2-selection--single {
        @extend .form-control;
        height: 42px;
        padding: 0;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 42px;
        font-size: 16px;
        text-align: left;
        padding-left: 12px;
    }
}

.widget {
    background-color: #ffffff;
    .widget-header {
        padding: 15px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        .title {
            font-size: 22px;
            font-weight: 600;
        }
    }
    .widget-content {
        background-color: #ffffff;
    }
}
.loading-container {
    position: relative;
    min-height: 50px;
    margin: 20px 0;
    cursor: wait;
    &.full {
        position: fixed;
        top:0;
        margin: 0;
        bottom:0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.4);
        z-index: 2000;

        .loading {
            border: 5px solid rgb(255, 255, 255);
            border-top-color: #f47d31;
        }
    }

}
.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 5px solid rgba(187, 187, 187, 0.42);
    border-top-color: #f47d31;
    animation: spin 0.8s infinite linear;
    @include transform(translate(-50%,-50%));
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* hack selec2*/
.ticket-form {
    .select2-container--default .select2-selection--single {
        @extend .form-control;
        .select2-selection__rendered {
            line-height: inherit;
            padding:0;
        }
    }
    .select2-hidden-accessible.error  {
        & ~ small.error {
            z-index: 1;
            bottom: -20px;
        }
        & ~ * .select2-selection--single {
            border:1px solid #d9534f !important;
        }

    }
    .rd-day-body {
        padding: 8px;
    }
}
