* {
    margin: 0;
}

*, *:before, *:after {
    @include box-sizing(inherit);
}

.row::before,
.row::after {
    display: table;
    content: " ";
    clear: both;
}

.col {
    float: left;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

.clearfix {
    display: block;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}
.group:after {
    content: "";
    display: table;
    clear: both;
}