footer {
    margin-top:70px;
    padding: 35px 0;
    background-color: #4C5365;
    .container {
        opacity: 0.87;
    }
    .site-logo {
        width: 244px;
        img {
            width: 100%;
        }
    }
    .info {
        font-size: 16px;
        color: #ffffff;
        line-height: 25px;
    }
    .social {
        text-align: right;
        color: #4C5365;
        a {
            text-align: center;
            display: inline-block;
            width: 40px;
            height: 40px;
            background-color: #ffffff;
            font-size: 24px;
            margin-left: 30px;
            border-radius: 100%;
            line-height: 40px;
            &:first-child {
                margin-left: 0;
            }
        }
    }
}